.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.App-logo {
  height: 80px;
}

.App-top-logo {
position: relative;
}

.App-top-news-logo {
  position: absolute;
  height: 80px;
  }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  font-style: italic;
  padding-left: 10px;
}

.App-intro {
  font-size: large;
}

.nav {
  background-color: #222;
}

.nav-tabs {

}

.nav-link {
  color: black;
  background-color:grey;
  margin-left: 10px;
}


.nav-link:hover {
   color:red; 
   text-decoration:none; 
   cursor:pointer;  
   background-color: lightgrey;
}

.actionButton {
  background: transparent;
  border: none;
  opacity: 0.75;
}

.actionButton:hover {
  text-decoration:none; 
  cursor:pointer;  
  border: lightgrey;
  opacity: 1;
}

.nextArrow {
  position: absolute;
  left: 80%;
}


.detailBox {
  width:80%;
  border:1px solid #bbb;
  margin:50px;
  margin-top: 10px;
}
.titleBox {
  background-color:#fdfdfd;
  padding:10px;
}
.titleBox label{
color:#444;
margin:0;
display:inline-block;
}


/*********CommentListUI *********/
.commentBox {
  height: 100px;
}

.taskDescription {
  margin-top:10px 0;
}
.commentList {
  padding:0;
  list-style:none;
  max-height:200px;
  overflow:auto;
}
.commentList li {
  margin:0;
  margin-top:10px;
  border: black;
}
.commentList li > div {
  display:table-cell;
}

.commentText p {
  margin:0;
}
.sub-text {
  color:#aaa;
  font-family:verdana;
  font-size:100%;
}
.actionBox {
  border-top:1px dotted #bbb;
  padding:10px;
}

.commentForm {
  padding: 10px;
}